body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    font: 1rem/1.75rem "HiraginoSans-W3", Lato, "HiraKakuProN-W3", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", sans-serif;
}
/* menu */
.masthead {
    top:0;
    height: 100vh;
    min-height: 600px;
    background-image: url("../img/LP_image_top.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    color: white;
  }
  .text-center{
      top:100px;
      bottom:10px;
  }
.container-fluid .navbar-brand{
    color:white;
    font-size: 20px;
    transition: 0.5s;
}
.container-fluid .navbar-brand:hover{
    color:#cecdc5;
}
ul li a{
    text-align: center;
    color: white;
    font-size: 17px;
    transition: 0.5s;
}
ul li a:hover{
    color: #cecdc5;
}
.width-left ul li a{
    color: white;
    font-size: 15px;
}.width-left ul li a:hover{
    color: #cecdc5;
}
.navbar-toggler{
    font-size: 6vw;
    color: white;
}
.width-cent{
    width: 50%;
    margin:0;
    height: auto;
}
.width-left{
    width: 9%;
    margin:0;
    height: auto;
}
.font-wieght-light{
    margin-top: 20px;
}
/* end menu */
.text-header{
    padding: 20px;
    text-align: center;
    font-size: 26px;
}
.text-p{
    text-align: center;
    font-size: 18px;
    line-height: 1.2em;
}
.text-p2{
    margin:15px 0 15px 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.2em;
}
img{
    width: 100%;
}
.contant{
    background-color:#ebebe0;
}
.txt-step{
    background-color: white;
    padding: 10px;
}
.col-sm-3{
    margin-top: 10px;
}
.font{
    font-size: 26px;
    padding-top: 15px;
    color: #ff9933;
}
.loc {
    background-color: white;
    padding: 15px;
}
.loc .text-center{
    padding-top: 15px;
}
.loc img{
    width: 100%;
}
.col{
    background-color: white;
    

}
.form{
    width: 400px;
    height: 300px;
    background-color: pink;
    border: 1px solid black;
}
.content{
    padding: 25px 10px 25px 10px;
/* responsice */
}
.scroll img{
    width: 60px;
    height: 60px;
}
.scroll{
    width :10px;
    position: fixed;
    right:150px;
    bottom: 15;
    z-index: 10;
    cursor: pointer;
    display: none;
}
.scroll:hover img{
    background: rgb(211, 191, 191);
    border-radius: 50%;    
}
video{
    width: 80%;
}
.carousel-control-prev-icon{
    background-color: black;
    color: black;
}
.carousel-control-next-icon{
    background-color: black;
    color: black;
}
#carouselExampleInterval{
    display: none;
}
@media (min-width: 992px) { 
    .container{
        max-width: 1200px;
    }
    p{
        font-weight: 18px;
    }
    
 }
 /* @media (min-width: 768px) { 
    .container{
        max-width: 1200px;
    }
  }
 @media (min-width: 576px) { 
    .container{
        max-width: 1200px;
    }
 } */

@media only screen and (max-width:500px) {
    /* For tablets: */
    video{
        width: 100%;
    }
    #carouselExampleInterval{
        display: block;
    }
    .step{
        display: none;
    }
}
@media only screen and (max-width:400px){
    .masthead{
        background-image: url(../img/LP_image_top.jpg);
        background-size: cover;
        height: 500px;
        width: auto;
    }
    .text-header{
        font-size: 19px;
    }
    .text-p{
        text-align: center;
        font-size: 14px;
    }
    .text-p2{
        font-size: 14px;
    }
}
/* responsive end */